<h2>Update Film</h2>
<form method="post" action="/updateFilm">
<input type="hidden" name="id" value="<%= filmlist._id%>">
<p>
<label>Film title</label>
<input type="text" name="filmName" value="<%= filmlist.filmName%>">
</p>
<p>
<label>Film Certificate</label>
<input type="text" name="filmCert" value="<%= filmlist.filmCert%>">
</p>
<p>
<input type="submit" value="Search">
</p>
</form>

