body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header nav ul{
	list-style: none;	
	padding-left: 0;
}

header nav ul li{
	float:left;
	padding-right:10px;
}

header{
	border-bottom: 1px solid #ccc;
	overflow: auto;
	padding-bottom: 15px;
}